{% for interface in interfaces %}
interface {{ interface.name }} {
  IgnoreIfMissing on;
  AdvSendAdvert on;
  prefix {{ interface.vps.v6_prefix }}/64 { };
  RDNSS 2a11:f2c0:1:100::1 { };
};
{% endfor %}